@charset 'UTF-8';

/* CONFIGURAÇÕES INICIAIS */

*{
    transition: 0.2s;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

body::-webkit-scrollbar{
    display: none;
}

body, html{
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'fonte-titulos';
    src: url(../recursos/fontes-tipograficas/fonte-titulo.ttf);
}

@font-face {
    font-family: 'fonte-dislexia';
    src: url(../recursos/fontes-tipograficas/fonte-dislexia.otf);
}

:root{
    --corprimaria: #00F39F;
    --corsecundaria: #004aad;
    --corterciaria: #fff;
    --corquaternaria: #7F7F7F;
    --corquinternaria: #000;
    --corsextiaria: #7F7F7F;
    --corsetimo: #00C886;
    --fonteprimaria: arial;
}

/* CONFIGURAÇÕES PADRÕES */

.estilo-titulo-padrao-texto{
    font: normal bold 30px 'fonte-titulos';
    color: var(--corsetimo);
    text-transform: uppercase;
}

.texto-padrao{
    font: normal normal 16px var(--fonteprimaria);
    color: var(--corquinternaria);
    margin: 10px 0;
}

.marca-texto-padrao-um{
    color: var(--corprimaria);
}

.estilo-lista-padrao-um{
    list-style: circle inside none;
    margin: 18px 0;
}

.estilo-lista-padrao-um > li{
    font: normal normal 16px var(--fonteprimaria);
    color: var(--corquinternaria);
    margin: 8px 0;
}

.marcador-texto{
    color: var(--corsecundaria);
    font-weight: bold;
}

.marcador-texto-dois{
    color: var(--corsecundaria);
}

/* configuração de opacidade */

.hidden-um{
    opacity: 0;
    transition: 1s;
}

.show-um{
    opacity: 1;
}

.hidden-dois{
    opacity: 0;
    transform: translateY(40px);
    transition: 1s;
}

.show-dois{
    transform: translateY(0);
    opacity: 1;
}

/* configuração do checkbox de seleção - modo dark  */

#config-span-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#icone-empresa{
    width: 150px;
    cursor: pointer;
}

#icone-empresa:hover{
    transform: scale(1.05);
}

#icone-empresa:active{
    transform: scale(0.95);
}

/* Configuração Modo Dark */

#caixa-dark, #caixa-dark-dois{
    display: none;
}

#elemento-pai, #elemento-pai-dois{
    position: relative;
    width: 45px;
    height: 20px;
    background: var(--corprimaria);
    padding: 4px 2px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

#elemento-filho, #elemento-filho-dois{
    position: absolute;
    width: 25px;
    height: 25px;
    background: var(--corterciaria);
    border-radius: 100%;

    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#caixa-dark:checked ~ #elemento-pai{
    background: #303030;
}

#caixa-dark:checked ~ #elemento-pai > #elemento-filho, #caixa-dark-dois:checked ~ #elemento-pai > #elemento-filho{
    transform: translateX(80%);
}

#configuracao-modo-claro{
    color: var(--corprimaria);
    line-height: 0;
    padding: 0;
    margin: 0;
    height: 0;
    width: 24px;
    transform: translateX(-0.5px);
}

#configuracao-modo-escuro{
    color: #303030;
    display: none;
}

/* CONFIGURAÇÃO HEADER */

header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
}

header > nav{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0px 30px;
    margin: 12px 0;
}

/* configurando botões superiores direito */

#configurar-icones{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}

#config-icone{
    display: flex;
    align-items: center;
    justify-content: center;
}

#configurar-icones > a, #configurar-icones > div > a{
    font: normal normal 18px var(--fonteprimaria);
    color: var(--corsextiaria);
    text-decoration: none;
    word-break: keep-all;
}

#configurar-icones > div > a{
    position: relative;
}

/* configurar submenu da opção grupos */

#config-submenu-grupos{
    position: absolute;
    display: none;
    flex-flow: column;
    text-align: center;
    border: 1px solid var(--corquaternaria);
    background: var(--corterciaria);
    transform: translateX(-25%);
    padding: 0px 5px 5px 5px;
    border-radius: 6px;
    margin-top: 10px;
    z-index: 99999;
}

#configurar-triangulo{
    transform: rotate(45deg) translateX(-45%) translateY(-30%);
    border: 1px solid var(--corsextiaria);
    background: var(--corterciaria);
    height: 12px;
    width: 12px;
    border-right: none;
    border-bottom: none;
}

#configurar-texto-whatsapp{
    font: normal bolder 12px var(--fonteprimaria);
    color: var(--corquaternaria);
    text-decoration: none;
    margin-bottom: 10px;
}

.configurar-submenus-estilo-padrao{
    font: normal normal 14px var(--fonteprimaria);
    color: var(--corsecundaria);
    text-decoration: none;
    transition: .5s;
    padding: 3px 0;
    margin: 1px 0;
}

.configurar-submenus-estilo-padrao:hover{
    background: var(--corprimaria);
    color: var(--corterciaria);
}

.configurar-submenus-estilo-padrao:active{
    transform: scale(0.95);
}

/* configurar sub navegador */

#configurar-icones > a:hover, #configurar-icones > div > a:hover{
    text-decoration: underline;
}

.tamanho-span-icone{
    color: var(--corprimaria);
    font-size: 30px;
}

.tamanho-span-icone:hover{
    transform: scale(1.05);
}

.tamanho-span-icone:active{
    transform: scale(0.9);
}

#configuracao-nav-dois{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    background: var(--corprimaria);
    height: 50px;
}

#configuracao-nav-dois > div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#configuracao-nav-dois > div:first-child{
    margin-right: auto;
    border-right: 2px solid #00d1a475;
    padding-right: 20px;
    margin-left: 30px;
    height: 80%;
}

#configuracao-nav-dois > div:last-child{
    margin-right: auto;
    border-left: 2px solid #00d1a475;
    padding-left: 20px;
    margin-right: 30px;
    height: 80%;
}

#configuracao-nav-dois > div:first-child > a, #configuracao-nav-dois > div:last-child > a{
    font: normal normal 15px var(--fonteprimaria);
    color: var(--corterciaria);
    text-decoration: none;
    transition: all 500ms;
}

#configuracao-nav-dois > div:first-child > a:hover, #configuracao-nav-dois > div:last-child > a:hover{
    text-decoration: underline;
}

#configuracao-nav-dois > div:last-child{
    margin-right: 30px;
}

#configurar-icone-duvidas{
    color: var(--corterciaria);
    font-size: 30px;
    cursor: pointer;
}

#configurar-icone-duvidas:hover{
    transform: scale(1.08);
}

#configurar-icone-duvidas:active{
    transform: scale(1);
}

/* configuração de submenu sobre */

#configuracao-menu-sobre, #configuracao-menu-blog{
    border: 1px solid var(--corsextiaria);
    padding: 15px 0;
    display: none;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    z-index: 9999;
}

#configuracao-menu-sobre > div, #configuracao-menu-blog > div{
    width: 96%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    z-index: 0;
    gap: 20px;
}

.configuracao-padrao-opcoes{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.configuracao-padrao-opcoes > h1{
    font: normal bold 20px 'fonte-titulos';
    color: var(--corsecundaria);
    text-transform: uppercase;
}

.configuracao-padrao-opcoes > a{
    font: normal normal 15px var(--fonteprimaria);
    color: var(--corquaternaria);
    text-decoration: none;
    margin: 3px 0;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.configuracao-padrao-opcoes > a > span{
    color: var(--corprimaria);
    font-size: 18px;
}

.configuracao-padrao-opcoes > a:hover{
    transform: scale(1.03);
}

.configuracao-padrao-opcoes > a:active{
    transform: scale(1);
}

/* CONFIGURAR HEADER PARA MOBILE */

#configurar-header-mobile{
    background: var(--corterciaria);
    display: none;
}

#navegador-mobile{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#configurar-container-mobile{
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.config-elemento{
    margin-right: auto;
    margin-left: 5px;
    scale: 1.35;
}

#configurar-container-mobile > span{
    color: var(--corprimaria);
    font-size: 50px;
}

#navegador-mobile > img{
    width: 120px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin: 10px 0;
}

#titulo-digitalltech{
    font: normal bolder 30px 'fonte-titulos';
}

.configurar-cor-especifica{
    color: var(--corsecundaria);
    cursor: pointer;
}

#configurar-texto-mobile{
    text-align: center;
    width: 95%;
    font: normal normal 16px var(--fonteprimaria);
    color: var(--corquaternaria);
}

/* CONFIGURAÇÃO PADRÃO: ACTIVE E HOVER */

#configuracao-icone-pesquisa:hover, #configuracao-icone-select:hover, 
#configurar-icone-close > span:last-child:hover, .estilo-botao-padrao:hover,
#configurar-botao > a > button:hover, #enviar-gmail:hover, .configuracao-botao-padrao:hover,
#configurar-container-mobile > span:hover{
    transform: scale(1.05);
}

#configuracao-icone-pesquisa:active, #configuracao-icone-select:active, .estilo-botao-padrao:active, 
#configurar-icone-close > span:last-child:active, 
#configurar-botao > a > button:active,
.configuracao-botao-padrao:active, #enviar-gmail:active, #configurar-container-mobile > span:active{
    transform: scale(0.95);
}

/* configurar icones laterais - botões */

#icones-laterais{
    z-index: 9999;
    position: fixed;
    bottom: 80px;
    right: 15px;
    display: flex;
    flex-flow: column nowrap;
}

#icones-laterais > a > img{
    width: 40px;
}

#icones-laterais > a:first-child > img{
    background: var(--corterciaria);
    border-radius: 100px;
}

#icones-laterais > a > img:hover{
    transform: scale(1.1);
}

#icones-laterais > a > img:active{
    transform: scale(0.9);
}

/* CONFIGURAÇÃO PADRÃO DOS MODAIS */

.configurar-display-modal-padrao{
    background: #00000033;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    display: none;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    z-index: 99999;
}

/* #modal-nao-disponivel{
    display: flex;
} */

.configurar-display-modal-padrao > div{
    width: 400px;
    padding: 10px 0;
    border-radius: 10px;
    border-bottom: 5px solid #0000003f;
    background: var(--corterciaria);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 10px;
}

.configurar-display-modal-padrao > div > div{
    width: 90%;
}

#configurar-display-modal-agradecimento > div > div{
    width: 90%;
}

.configurar-display-modal-padrao > div > div > span{
    color: var(--corprimaria);
    font-size: 40px;
}

.configurar-display-modal-padrao > div > div > p{
    font: normal normal 18px var(--fonteprimaria);
    color: var(--corquaternaria);
    margin: 5px 0;
}

.configurar-display-modal-padrao > div > div > button, .estilo-padrao-botao{
    background: var(--corprimaria);
    color: var(--corterciaria);
    padding: 3px 40px;
    cursor: pointer;
    font: normal bolder 16px 'fonte-titulos';
    border: 1px solid var(--corprimaria);
    border-radius: 5px;
}

.configurar-display-modal-padrao > div > div > button:hover{
    transform: scale(1.1);
}

.configurar-display-modal-padrao > div > div > button:active{
    transform: scale(0.95);
}

/* CONFIGURAÇÃO DE MODAL - ACESSIBILIDADES */

#configurar-display-acessivilidade{
    background: #00000033;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    display: none;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    z-index: 99999;
}

#configurar-estilo-card{
    width: 260px;
    height: 360px;
    border-radius: 12px;
    background: var(--corterciaria);
    border-bottom: 5px solid #0000003f;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#configurar-estilo-card > div{
    width: 92%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

#estilo-evento-close-dois{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#estilo-evento-close-dois > span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#estilo-evento-close-dois > span > img{
    width: 26px;
}

#estilo-evento-close-dois > span > h1{
    font: normal normal 25px 'fonte-titulos';
}

#estilo-botao-close-acessibilidade{
    color: var(--corprimaria);
    font-size: 35px;
    cursor: pointer;
}

#estilo-botao-close-acessibilidade:hover{
    transform: scale(1.05);
}

#estilo-botao-close-acessibilidade:active{
    transform: scale(0.9);
}

#estilo-texto-acessibilidade{
    color: var(--corprimaria);
    text-align: center;
}

#estilo-texto-acessibilidade > span{
    font-size: 45px;
}

.marcador-texto-dois{
    color: var(--corsecundaria);
}

#estilo-texto-acessibilidade > h1, #estilo-texto-compartilhar > h1{
    font: normal bold 23px var(--fonteprimaria);
}

#estilo-opcoes-acessibilidades{
    width: 100%;
    overflow-y: auto;
    margin: 15px 0;
}

#estilo-opcoes-acessibilidades::-webkit-scrollbar{
    display: none;
    color: var(--corprimaria);
}

#estilo-opcoes-acessibilidades > span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--corquaternaria);
    padding-bottom: 2px;
}

#estilo-opcoes-acessibilidades > span > h2{
    font: normal normal 15px var(--fonteprimaria);
}

#titulo-sucesso, #titulo-sucesso-dois{
    font: normal bold 20px 'fonte-titulos';
    color: var(--corprimaria);
}

.titulo-acessibilidade-padrao{
    font: normal normal 20px var(--fonteprimaria);
}

.opcao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.titulo-acessibilidade-padrao {
  font-size: 15px;
  color: #333;
  margin: 0;
}


.switch {
    display: flex;
    position: relative;
    align-items: center;
    flex-flow: row nowrap;
    width: 43px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303030;
    transition: .4s;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 2px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    transition: 0.4s;
    border-radius: 50%;
    background-color: white;
}

.switch input:checked + .slider {
    background-color: #00f89c;
}

.switch input:checked + .slider:before {
    transform: translateX(70%);
}

#configurar-borda-especifica{
    border: none;
}

.estilo-botao-padrao-tres:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.estilo-botao-padrao-tres:active{
    transform: scale(0.95);
    cursor: pointer;
}

/* configuração de modal - compartilhar */

#configurar-display-compartilhar{
    background: #00000033;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    display: none;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    z-index: 99999;
}

#configurar-botao-compartilhar{
    width: 90%;
}

#icones-compartilhar-infoproduto{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0;
    gap: 15px;
}

#icones-compartilhar-infoproduto > img{
    cursor: pointer;
    width: 40px;
}

#icones-compartilhar-infoproduto > img:hover{
    transform: scale(1.05);
}

#icones-compartilhar-infoproduto > img:active{
    transform: scale(0.95);
}

#estilo-texto-compartilhar{
    margin: 0;
}

/* CONFIGURAÇÃO MENU MOBILE */

@keyframes animacaoMenu{
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes animacaoMenuDois{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-200%);
    }
}

#menu-mobile{
    background: var(--corterciaria);
    border-right: 1px solid var(--corsextiaria);
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 80%;
    height: 100dvh;
    z-index: 99999;
    transform: translateX(-200%);
    animation: animacaoMenu 350ms both ease-in-out;
}

#menu-mobile > div{
    height: 90%;
    width: 85%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#configurar-icone-close{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#configurar-icone-close > span:first-child{
    font: normal normal 25px 'fonte-titulos';
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#configurar-icone-close > span:last-child{
    color: var(--corprimaria);
    font-size: 40px;
    cursor: pointer;
}

#configurar-opcoes-mobile{
    overflow-y: auto;
    width: 100%;
}

#configurar-opcoes-mobile::-webkit-scrollbar{
    color: var(--corprimaria);
}

.configuracao-botoes-menu-padrao{
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    margin: 20px 0;
    padding: 5px;
}

.configuracao-botoes-menu-padrao > span:first-child{
    font-size: 30px;
    color: var(--corprimaria);
}

.configuracao-botoes-menu-padrao > span:last-child{
    font: normal normal 20px var(--fonteprimaria);
    color: var(--corsecundaria);
    line-height: 28px;
}

.configuracao-botoes-menu-padrao:hover > span:first-child{
    font-size: 32px;
}

.configuracao-botoes-menu-padrao:hover > span:last-child{
    font-size: 20px;
}

/* configuração dos submenus do menu mobile */

.sub-menu-padrao{
    display: none;
    margin: auto;
    width: 80%;
}

.sub-menu-padrao > details{
    cursor: pointer;
    margin: 10px 0;
}

.sub-menu-padrao > details > summary{
    font: normal normal 18px var(--fonteprimaria);
    color: var(--corsecundaria);
}

.estilo-lista-padrao-dois{
    list-style-position: inside;
    margin: 5px 0;
}

.estilo-lista-padrao-dois > li{
    margin: 8px 0;
}

.config-subopcao-padrao{
    font: normal normal 16px var(--fonteprimaria);
    color: var(--corquaternaria);
    text-decoration: none;
}

.config-subopcao-padrao:hover{
    text-decoration: underline;
}

.config-subopcao-padrao:active{
    transform: scale(0.95);
}

.config-subopcao-padrao > span{
    font-size: 15px;
}

/* CARROSSEL DIVS */

.container-carrossel-imagem-dois{
    display: none;
    background: var(--corterciaria);
    width: 100%;
    overflow: hidden;
    flex-flow: column nowrap;
}

.container-carrossel-imagem-dois > div{
    width: 100%;
    display: flex;
}

.container-carrossel-imagem-dois > div > img{
    width: 100%;
    scale: 0.8;
}

#configurar-botoes-span-dois > span{
    width: 10px;
    height: 10px;
    border: 1px solid var(--corquaternaria);
    border-radius: 100px;
}

#configurar-botoes-span > span:first-child{
    background: var(--corprimaria);
}

#configurar-botoes-span{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#configurar-botoes-span > div{
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

#configurar-botoes-span > div > div{
    width: 45px;
    height: 45px;
    border: 1px solid var(--corprimaria);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#configurar-botoes-span > div > div > span{
    color: var(--corprimaria);
    font-size: 30px;
    cursor: pointer;
}

#configurar-botoes-span > div > div:hover{
    transform: scale(1.05);
}

#configurar-botoes-span > div > div:active{
    transform: scale(0.95);
}

#configurar-botoes-span{
    display: flex;
    flex-flow: column nowrap;
}

#termo-de-uso{
    font: normal normal 15px var(--fonteprimaria);
    color: var(--corsextiaria);
    text-decoration: none;
}

#termo-de-uso:hover{
    color: var(--corquinternaria);
    text-decoration: underline;
    transform: scale(1.1);
}

#sistema-estrelas > a{
    color: var(--corprimaria);
}

#sistema-estrelas > :hover{
    transform: scale(1.08);
}

#sistema-estrelas > a > span{
    font-size: 25px;
    cursor: pointer;
}

/* CONFIGURAÇÕES DE TELA PARA MOBILE */

#configurar-submenu-opcoes{
    border: 1px solid var(--corquaternaria);
    background: var(--corterciaria);
    border-right: none;
    border-left: none;
    padding: 10px 0;
    width: 100%;
    display: none;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}

#configurar-submenu-opcoes > div{
    width: 96%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.configurar-card-padrao-botoes{
    color: #666666;
    font: normal normal 12px 'fonte-titulos';
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.configurar-card-padrao-botoes > span{
    font-size: 30px;
}

.configurar-card-padrao-botoes:hover, #configurar-container-mobile > span:hover, #navegador-mobile > img:hover{
    color: var(--corprimaria);
    transform: scale(1.1);
}

.configurar-card-padrao-botoes:active, #configurar-container-mobile > span:active{
    color: var(--corquaternaria);
    transform: scale(0.9);
}

/* CONFIGURAÇÃO DE ESTILO DA SEÇÃO DE INFOPRODUTO */

#secao-infoproduto{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 3vh 0;
    width: 100%;
}

#secao-infoproduto > div{
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

#secao-infoproduto > div > div:first-child{
    width: auto;
}

#configurar-imagem-infoproduto{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

#capa-infoproduto{
    height: 330px;
}

#capa-infoproduto:hover{
    transform: scale(1.08);
}

#cards-infoproduto-imagens{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 8px;
}

#cards-infoproduto-imagens > div{
    border: 2px solid var(--corprimaria);
    border-radius: 5px;
    height: 35px;
    width: 35px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    cursor: pointer;
}

#cards-infoproduto-imagens > div:hover{
    transform: scale(1.05);
}

#cards-infoproduto-imagens > div:active{
    transform: scale(0.95);
}

#cards-infoproduto-imagens > div > img{
    height: 90%;
}

#estilo-fullscreen{
    color: var(--corprimaria);
    font-size: 40px;
}

#estilo-botoes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

#estilo-botoes > a > button{
    font: normal normal 15px var(--fonteprimaria);
    background: var(--corprimaria);
    color: var(--corterciaria);
    border-radius: 5px;
    padding: 8px 5px;
    border: none;
    width: 180px;
    cursor: pointer;
}

#estilo-botoes > a > button:hover{
    transform: scale(1.05);
}

#estilo-botoes > a > button:active{
    transform: scale(0.95);
}

#estilo-botoes > a:last-child > button{
    border: 1px solid var(--corprimaria);
    background: var(--corterciaria);
    color: var(--corprimaria);
    width: 100%;
}

/* configuração da descrição do infoproduto */

#descricao-compra-infoproduto{
    width: 370px;
}

#descricao-compra-infoproduto > h1{
    font: normal normal 30px 'fonte-titulos';
    line-height: 28px;
}

#descricao-compra-infoproduto > p{
    font: normal normal 18px var(--fonteprimaria);
    color: var(--corsecundaria);
    margin: 0;
}

#descricao-compra-infoproduto > p > span{
    color: var(--corprimaria);
}

#configurar-preco-botoes{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 15px 0;
}

#preco-antigo{
    color: var(--corquaternaria);
    font: normal normal 20px var(--fonteprimaria);
}

#preco-atual{
    font: normal normal 70px 'fonte-titulos';
    color: var(--corquinternaria);
    line-height: 45px;
}

#preco-atual > span, #preco-atual > sup{
    font-size: 30px;
}

/* DESCRIÇÃO DO INFOPRODUTO */

#descricao-infoproduto{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#descricao-infoproduto > div{
    width: 90%;
}

/* CONFIGURAÇÃO DE ESTILO DA SEÇÃO DE APRESENTAÇÃO */

#secao-apresentação{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 20vh 0;
}

#secao-apresentação > div{
    width: 90%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 20px;
}

.configurar-padrao-cards-apresentacao{
    text-align: center;
    width: 300px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
}

.configurar-padrao-cards-apresentacao:hover{
    transform: scale(1.08);
}

.configurar-padrao-cards-apresentacao > span{
    color: var(--corprimaria);
    font-size: 50px;
}

.configurar-padrao-cards-apresentacao > h1{
    font: normal bold 20px 'fonte-titulos';
    color: var(--corquinternaria);
}

.configurar-padrao-cards-apresentacao > p{
    font: normal normal 15px var(--fonteprimaria);
    color: var(--corsecundaria);
}

#configurar-card-apresentacao-especifica{
    border: 1px solid var(--corquaternaria);
    border-bottom: none;
    border-top: none;
    padding: 0 20px;
}

#configurar-link{
    color: var(--corsecundaria);
}

/* CONFIGURAÇÃO FOOTER */

footer{
    background: var(--corprimaria);
    padding: 40px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}

footer > div{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
}

footer > div > div:first-child{
    width: 290px;
}

.configurar-padrao-cards-footer > span{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.configurar-padrao-cards-footer > span > img{
    width: 30px;
}

.configurar-padrao-cards-footer > span > h1, .estilo-titulo-padrao{
    font: normal normal 30px 'fonte-titulos';
    color: var(--corterciaria);
}

.configurar-padrao-cards-footer > p, .estilo-a-padrao{
    font: normal normal 14px var(--fonteprimaria);
    color: var(--corterciaria);
    margin: 10px 0;
}

#configurar-botao{
    display: flex;
    gap: 10px;
}

#configurar-botao > a > button, #enviar-gmail{
    font: normal bold 15px var(--fonteprimaria);
    background: var(--corterciaria);
    color: var(--corprimaria);
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--corterciaria);
}

.estilo-titulo-padrao{
    font-weight: bold;
}

.estilo-a-padrao{
    text-decoration: none;
}

.estilo-a-padrao:hover{
    text-decoration: underline;
    transform: scale(1.05);
}

#configurar-texto-gmail{
    font: normal normal 16px var(--fonteprimaria);
    color: var(--corterciaria);
}

.configurar-div-especifico{
    width: 220px;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

#gmail, #nome{
    padding: 8px 5px;
    border: none;
    width: 95%;
    color: var(--corquinternaria);
    font: normal normal 15px var(--fonteprimaria);
}

#label-gmail, #label-nome{
    width: 100%;
}

#enviar-gmail{
    width: 100%;
}

#configurar-segundo-footer{
    background: var(--corprimaria);
    border-top: 1px solid #00000027;
    padding: 15px 0;
}

#configurar-segundo-footer > div{
    padding: 0;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#configurar-icones-padrao-contato{
    display: flex;
    gap: 10px;
}

#configurar-icones-padrao-contato > a > img{
    width: 25px;
    padding: 5px;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid var(--corterciaria);
}

#configurar-icones-padrao-contato > a > img:hover{
    transform: scale(1.1);
}

#configurar-icones-padrao-contato > a > img:active{
    transform: scale(0.9);
}

#configurar-botoes-span-dois{
    display: flex;
    justify-content: center;
}

/* CONFICURAÇÕES DE ESTILO DE COMO COMPRAR UM INFOPRODUTO */

#como-comprar{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 25px 0;
    margin: 20vh 0;
}

#como-comprar > div{
    width: 90%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;
}

#como-comprar > div > div{
    width: 500px;
    /* height: 350px; */
}

#como-comprar > div > div:first-child{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

#como-comprar > div > div:first-child > h1{
    font: normal bolder 30px 'fonte-titulos';
    line-height: 25px;
}

.estilo-span-especifico-um{
    color: var(--corprimaria);
}

#estilo-span-especifico-dois{
    color: var(--corsecundaria);
}

.estilo-texto-padrao{
    font: normal normal 16px var(--fonteprimaria);
    color: var(--corquinternaria);
    margin: 10px 0;
}

.estilo-botao-padrao{
    background: var(--corprimaria);
    color: var(--corterciaria);
    font: normal bold 18px 'fonte-titulos';
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

.configuracao-padrao-video{
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--corprimaria);
}

figcaption{
    width: 100%;
    text-align: center;
}

figcaption > a{
    font: normal normal 15px var(--fonteprimaria);
    color: var(--corquaternaria);
    text-decoration: none;
    text-align: center;
    width: 100%;
}

figcaption > a:hover{
    text-decoration: underline;
    color: var(--corquinternaria);
}

#configurar-figure{
    width: 100%;
}

/* ESTILO DE COMENTÁRIOS */

#comentarios{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    margin-top: 25vh;
}

#comentarios > div{
    width: 90%;
}

#comentarios > div > h1{
    font: normal bolder 30px 'fonte-titulos';
    text-align: center;
}

#comentarios > div > p{
    text-align: center;
}

#formulario-comentario{
    border: 1px solid var(--corprimaria);
    border-radius: 10px;
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#formulario-comentario > div{
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#nome-avaliacao{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#label-nome-avaliacao{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

#label-nome-avaliacao > span{
    font-size: 45px;
    color: var(--corprimaria);
}

#label-nome-avaliacao > input{
    font: normal normal 18px var(--fonteprimaria);
    border: 1px solid var(--corprimaria);
    padding: 8px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    background: transparent;
}

.stars {
    display: inline-block;
    direction: rtl;
    font-size: 25px;
    cursor: pointer;
}

.stars input {
    display: none;
}

.stars label {
    color: #ccc;
    transition: color 0.2s;
}

.stars label:hover,
.stars label:hover ~ label,
.stars input:checked ~ label{
    color: var(--corprimaria);
}

#rating-value {
    margin-top: 20px;
    font-size: 20px;
}

#avaliacao{
    font: normal normal 25px var(--fonteprimaria);
    line-height: 20px;
    color: var(--corsextiaria);
}

#configurar-stars{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#configurar-div-stars{
    width: 20%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#input-comentario{
    padding: 15px;
    font: normal normal 18px var(--fonteprimaria);
    border: 1px solid var(--corprimaria);
    color: var(--corsextiaria);
    border-radius: 5px;
    height: 150px;
    width: 100%;
}

#configurar-display-botoes-comentario{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#estilo-botao-um, #estilo-botao-dois{
    background: var(--corprimaria);
    font: normal normal 18px var(--fonteprimaria);
    color: var(--corterciaria);
    width: 50%;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--corprimaria);
}

#estilo-botao-um:hover, #estilo-botao-dois:hover{
    transform: scale(1.03);
}

#estilo-botao-um:active, #estilo-botao-dois:active{
    transform: scale(0.95);
}

#estilo-botao-dois{
    background: var(--corterciaria);
    color: var(--corprimaria);
}

#estilo-botao-um{
    border: none;
}

#estilo-weight{
    font-weight: lighter;
}

#icone-mobile{
    cursor: pointer;
}