@charset 'UTF-8';

/* CONFIGURAÇÕES INICIAIS */

*{
    transition: 0.2s;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

body::-webkit-scrollbar{
    display: none;
    color: var(--corprimaria);
}

body, html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'fonte-titulos';
    src: url(../recursos/fontes-tipograficas/fonte-titulo.ttf);
}

:root{
    --corprimaria: #00F39F;
    --corsecundaria: #004aad;
    --corterciaria: #fff;
    --corquaternaria: #7F7F7F;
    --corquinternaria: #000;
    --corsextiaria: #7F7F7F;

    --fonteprimaria: arial;
}

/* configuração de opacidade */

/* .hidden-um{
    opacity: 0;
    transition: 1s;
}

.show-um{
    opacity: 1;
}

.hidden-dois{
    opacity: 0;
    transform: translateY(30px);
    transition: 1s;
}

.show-dois{
    transform: translateY(0);
    opacity: 1;
} */

/* configuração do checkbox de seleção - modo dark  */

#config-span-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#icone-empresa{
    width: 150px;
}

#caixa-dark{
    display: none;
}

#elemento-pai{
    position: relative;
    width: 45px;
    height: 20px;
    background: var(--corprimaria);
    padding: 4px 2px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

#elemento-filho{
    position: absolute;
    width: 25px;
    height: 25px;
    background: var(--corterciaria);
    border-radius: 100%;

    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#caixa-dark:checked ~ #elemento-pai{
    background: var(--corsecundaria);
}

#caixa-dark:checked ~ #elemento-pai > #elemento-filho{
    transform: translateX(80%);
}

#configuracao-modo-claro{
    color: var(--corprimaria);
    line-height: 0;
    padding: 0;
    margin: 0;
}

#configuracao-modo-escuro{
    color: var(--corsecundaria);
    display: none;
}

/* CONFIGURAÇÃO HEADER */

header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
}

header > nav{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0px 30px;
    margin: 12px 0;
}

/* configurando botões superiores direito */

#configurar-icones{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}

#config-icone{
    display: flex;
    align-items: center;
    justify-content: center;
}

#configurar-icones > a, #configurar-icones > div > a{
    font: normal normal 18px var(--fonteprimaria);
    color: var(--corsextiaria);
    text-decoration: none;
    word-break: keep-all;
}

#configurar-icones > div > a{
    position: relative;
}

/* configurar submenu da opção grupos */

#config-submenu-grupos{
    position: absolute;
    display: none;
    flex-flow: column;
    text-align: center;
    border: 1px solid var(--corquaternaria);
    background: var(--corterciaria);
    transform: translateX(-25%);
    padding: 0px 5px 5px 5px;
    border-radius: 6px;
    margin-top: 10px;
}

#configurar-triangulo{
    transform: rotate(45deg) translateX(-45%) translateY(-30%);
    border: 1px solid var(--corsextiaria);
    background: var(--corterciaria);
    height: 12px;
    width: 12px;
    border-right: none;
    border-bottom: none;
}

#configurar-texto-whatsapp{
    font: normal bolder 12px var(--fonteprimaria);
    color: var(--corquaternaria);
    text-decoration: none;
    margin-bottom: 10px;
}

.configurar-submenus-estilo-padrao{
    font: normal normal 14px var(--fonteprimaria);
    color: var(--corsecundaria);
    text-decoration: none;
    transition: .5s;
    padding: 3px 0;
    margin: 1px 0;
}

.configurar-submenus-estilo-padrao:hover{
    background: var(--corprimaria);
    color: var(--corterciaria);
}

.configurar-submenus-estilo-padrao:active{
    transform: scale(0.95);
}


/* configurar sub navegador */

#configurar-icones > a:hover, #configurar-icones > div > a:hover{
    text-decoration: underline;
}

.tamanho-span-icone{
    color: var(--corprimaria);
    font-size: 30px;
}

.tamanho-span-icone:hover{
    transform: scale(1.05);
}

.tamanho-span-icone:active{
    transform: scale(0.9);
}

#configuracao-nav-dois{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    background: var(--corprimaria);
    height: 50px;
}

#configuracao-nav-dois > div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#configuracao-nav-dois > div:first-child{
    margin-right: auto;
    border-right: 2px solid #00d1a475;
    padding-right: 20px;
    margin-left: 30px;
    height: 80%;
}

#configuracao-nav-dois > div:last-child{
    margin-right: auto;
    border-left: 2px solid #00d1a475;
    padding-left: 20px;
    margin-right: 30px;
    height: 80%;
}

#configuracao-nav-dois > div:first-child > a, #configuracao-nav-dois > div:last-child > a{
    font: normal normal 15px var(--fonteprimaria);
    color: var(--corterciaria);
    text-decoration: none;
    transition: all 500ms;
}

#configuracao-nav-dois > div:first-child > a:hover, #configuracao-nav-dois > div:last-child > a:hover{
    text-decoration: underline;
}

#configuracao-nav-dois > div:last-child{
    margin-right: 30px;
}

#configurar-icone-duvidas{
    color: var(--corterciaria);
    font-size: 30px;
    cursor: pointer;
}

#configurar-icone-duvidas:hover{
    transform: scale(1.08);
}

#configurar-icone-duvidas:active{
    transform: scale(1);
}

/* configuração de submenu sobre */

#configuracao-menu-sobre, #configuracao-menu-blog{
    border: 1px solid var(--corsextiaria);
    padding: 15px 0;
    display: none;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    z-index: 9999;
}

#configuracao-menu-sobre > div, #configuracao-menu-blog > div{
    width: 96%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    z-index: 0;
    gap: 20px;
}

.configuracao-padrao-opcoes{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.configuracao-padrao-opcoes > h1{
    font: normal bold 20px 'fonte-titulos';
    color: var(--corsecundaria);
}

.configuracao-padrao-opcoes > a{
    font: normal lighter 15px var(--fonteprimaria);
    color: var(--corquaternaria);
    text-decoration: none;
    margin: 3px 0;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.configuracao-padrao-opcoes > a > span{
    color: var(--corprimaria);
    font-size: 18px;
}

.configuracao-padrao-opcoes > a:hover{
    color: var(--corquinternaria);
    transform: scale(1.03);
}

.configuracao-padrao-opcoes > a:active{
    transform: scale(1);
}

/* CONFIGURAR HEADER PARA MOBILE */

#configurar-header-mobile{
    background: var(--corterciaria);
    display: none;
}

#navegador-mobile{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#configurar-container-mobile{
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#configurar-container-mobile > span{
    color: var(--corprimaria);
    font-size: 40px;
}

#navegador-mobile > img{
    width: 120px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#titulo-digitalltech{
    font: normal bolder 30px 'fonte-titulos';
}

#configurar-cor-especifica{
    color: var(--corsecundaria);
}

#configurar-texto-mobile{
    text-align: center;
    width: 95%;
    font: normal normal 16px var(--fonteprimaria);
}

/* CONFIGURAÇÃO PADRÃO: ACTIVE E HOVER */

#configuracao-icone-pesquisa:hover, #configuracao-icone-select:hover, 
#configurar-display-modal-indisponivel > div > div > button:hover, 
#configurar-display-modal-indisponivel > div > div > span:hover,
#configurar-icone-close > span:last-child:hover, .estilo-botao-padrao:hover,
#configurar-botao > a > button:hover, #enviar-gmail:hover, .configuracao-botao-padrao:hover,
#configurar-container-mobile > span:hover{
    transform: scale(1.05);
}

#configuracao-icone-pesquisa:active, #configuracao-icone-select:active, .estilo-botao-padrao:active, 
#configurar-display-modal-indisponivel > div > div > button:active,
#configurar-icone-close > span:last-child:active, 
.configuracao-botoes-menu-padrao:active, #configurar-botao > a > button:active,
.configuracao-botao-padrao:active, #enviar-gmail:active, #configurar-container-mobile > span:active{
    transform: scale(0.95);
}

/* configurar icones laterais - botões */

#icones-laterais{
    z-index: 9999;
    position: fixed;
    bottom: 80px;
    right: 15px;
    display: flex;
    flex-flow: column nowrap;
}

#icones-laterais > a > img{
    width: 40px;
}

#icones-laterais > a:first-child > img{
    background: var(--corterciaria);
    border-radius: 100px;
}

#icones-laterais > a > img:hover{
    transform: scale(1.1);
}

#icones-laterais > a > img:active{
    transform: scale(0.9);
}

/* configurar modal de função indisponível */

#configurar-display-modal-indisponivel{
    background: #00000033;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    display: none;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    z-index: 99999;
}

#configurar-display-modal-indisponivel > div{
    width: 400px;
    padding: 10px 0;
    border-radius: 10px;
    border-bottom: 5px solid #0000003f;
    background: var(--corterciaria);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 10px;
}

#configurar-display-modal-indisponivel > div > div{
    width: 75%;
}

#configurar-display-modal-indisponivel > div > div > span{
    color: var(--corprimaria);
    font-size: 40px;
}

#configurar-display-modal-indisponivel > div > div > p{
    font: normal normal 15px var(--fonteprimaria);
    color: var(--corquinternaria);
    margin: 10px 0;
}

#configurar-display-modal-indisponivel > div > div > button{
    background: var(--corprimaria);
    color: var(--corterciaria);
    font: normal bolder 16px 'fonte-titulos';
    padding: 3px 40px;
    cursor: pointer;
    border: none;
}

/* CONFIGURAÇÃO MENU MOBILE */

@keyframes animacaoMenu{
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes animacaoMenuDois{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-200%);
    }
}

#menu-mobile{
    background: var(--corterciaria);
    border-right: 1px solid var(--corsextiaria);
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 80%;
    height: 100dvh;
    z-index: 99999;
    transform: translateX(-200%);
    animation: animacaoMenu 350ms both ease-in-out;
}

#menu-mobile > div{
    height: 90%;
    width: 85%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#configurar-icone-close{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#configurar-icone-close > span:first-child{
    font: normal normal 25px 'fonte-titulos';
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#configurar-icone-close > span:last-child{
    color: var(--corprimaria);
    font-size: 40px;
}

#configurar-opcoes-mobile{
    overflow-y: auto;
    width: 100%;
}

#configurar-opcoes-mobile::-webkit-scrollbar{
    color: var(--corprimaria);
}

.configuracao-botoes-menu-padrao{
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    margin: 20px 0;
    padding: 5px;
}

.configuracao-botoes-menu-padrao:hover{
    background: var(--corprimaria);
}

.configuracao-botoes-menu-padrao:hover > span:first-child,
.configuracao-botoes-menu-padrao:hover > span:last-child{
    color: var(--corterciaria);
}

.configuracao-botoes-menu-padrao:hover > span{
    color: var(--corterciaria);
}

.configuracao-botoes-menu-padrao > span:first-child{
    font-size: 30px;
    color: var(--corprimaria);
}

.configuracao-botoes-menu-padrao > span:last-child{
    font: normal normal 20px var(--fonteprimaria);
    color: var(--corsecundaria);
    line-height: 28px;
}

/* configuração dos submenus do menu mobile */

.sub-menu-padrao{
    display: none;
    margin: auto;
    width: 80%;
}

.sub-menu-padrao > details{
    cursor: pointer;
    margin: 10px 0;
}

.sub-menu-padrao > details > summary{
    font: normal normal 18px var(--fonteprimaria);
    color: var(--corsecundaria);
}

.estilo-lista-padrao-dois{
    list-style-position: inside;
    margin: 5px 0;
}

.estilo-lista-padrao-dois > li{
    margin: 8px 0;
}

.config-subopcao-padrao{
    font: normal normal 16px var(--fonteprimaria);
    color: var(--corquaternaria);
    text-decoration: none;
}

.config-subopcao-padrao:hover{
    text-decoration: underline;
}

.config-subopcao-padrao:active{
    transform: scale(0.95);
}

.config-subopcao-padrao > span{
    font-size: 15px;
}

/* CARROSSEL DIVS */

.container-carrossel-imagem-dois{
    display: none;
    background: var(--corterciaria);
    width: 100%;
    overflow: hidden;
    flex-flow: column nowrap;
}

.container-carrossel-imagem-dois > div{
    width: 100%;
    display: flex;
}

.container-carrossel-imagem-dois > div > img{
    width: 100%;
    margin: auto;
    scale: 0.8;
}

#configurar-botoes-span{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#configurar-botoes-span{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#configurar-botoes-span > span{
    width: 10px;
    height: 10px;
    border: 1px solid var(--corquaternaria);
    border-radius: 100px;
}

#configurar-botoes-span > span:first-child{
    background: var(--corprimaria);
}

/* CONFIGURAÇÕES DE TELA PARA MOBILE */

#configurar-submenu-opcoes{
    border: 1px solid var(--corquaternaria);
    background: var(--corterciaria);
    border-right: none;
    border-left: none;
    padding: 10px 0;
    width: 100%;
    display: none;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}

#configurar-submenu-opcoes > div{
    width: 96%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.configurar-card-padrao-botoes{
    color: #666666;
    font: normal normal 12px 'fonte-titulos';
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.configurar-card-padrao-botoes > span{
    font-size: 30px;
}

.configurar-card-padrao-botoes:hover, #configurar-container-mobile > span:hover, #navegador-mobile > img:hover{
    color: var(--corprimaria);
    transform: scale(1.1);
}

.configurar-card-padrao-botoes:active, #configurar-container-mobile > span:active{
    color: var(--corquaternaria);
    transform: scale(0.9);
}

/* CONFIGURAÇÃO DE ESTILO DA SEÇÃO DE INFOPRODUTO */

#secao-infoproduto{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 10vh 0;
}

#secao-infoproduto > div{
    width: 95%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#secao-infoproduto > div > div{
    width: 560px;
}

#configurar-imagem-infoproduto{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#capa-infoproduto{
    width: 45%;
}

#cards-infoproduto-imagens{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 8px;
}

#cards-infoproduto-imagens > div{
    border: 2px solid var(--corprimaria);
    border-radius: 5px;
    height: 35px;
    width: 35px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

#cards-infoproduto-imagens > div:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#cards-infoproduto-imagens > div > img{
    height: 90%;
}

#estilo-fullscreen{
    color: var(--corprimaria);
    font-size: 40px;
}

/* CONFIGURAÇÃO DE ESTILO DA SEÇÃO DE APRESENTAÇÃO */

#secao-apresentação{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 20vh 0;
}

#secao-apresentação > div{
    width: 90%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 20px;
}

.configurar-padrao-cards-apresentacao{
    text-align: center;
    width: 300px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
}

.configurar-padrao-cards-apresentacao:hover{
    transform: scale(1.08);
}

.configurar-padrao-cards-apresentacao > span{
    color: var(--corprimaria);
    font-size: 50px;
}

.configurar-padrao-cards-apresentacao > h1{
    font: normal bold 20px 'fonte-titulos';
    color: var(--corquinternaria);
}

.configurar-padrao-cards-apresentacao > p{
    font: normal normal 15px var(--fonteprimaria);
    color: var(--corsecundaria);
}

#configurar-card-apresentacao-especifica{
    border: 1px solid var(--corquaternaria);
    border-bottom: none;
    border-top: none;
    padding: 0 20px;
}

#configurar-link{
    color: var(--corsecundaria);
}

/* CONFIGURAÇÃO FOOTER */

footer{
    background: var(--corprimaria);
    padding: 40px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}

footer > div{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
}

footer > div > div:first-child{
    width: 290px;
}

.configurar-padrao-cards-footer > span{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.configurar-padrao-cards-footer > span > img{
    width: 30px;
}

.configurar-padrao-cards-footer > span > h1, .estilo-titulo-padrao{
    font: normal normal 30px 'fonte-titulos';
    color: var(--corterciaria);
}

.configurar-padrao-cards-footer > p, .estilo-a-padrao{
    font: normal normal 14px var(--fonteprimaria);
    color: var(--corterciaria);
    margin: 10px 0;
}

#configurar-botao{
    display: flex;
    gap: 10px;
}

#configurar-botao > a > button, #enviar-gmail{
    font: normal bold 15px var(--fonteprimaria);
    background: var(--corterciaria);
    color: var(--corprimaria);
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.estilo-titulo-padrao{
    font-weight: bold;
}

.estilo-a-padrao{
    text-decoration: none;
}

.estilo-a-padrao:hover{
    text-decoration: underline;
    transform: scale(1.05);
}

#configurar-texto-gmail{
    font: normal normal 16px var(--fonteprimaria);
    color: var(--corterciaria);
}

.configurar-div-especifico{
    width: 220px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

#gmail{
    padding: 8px 5px;
    border: none;
    width: 95%;
    color: var(--corquinternaria);
    font: normal normal 15px var(--fonteprimaria);
}

#label-gmail{
    width: 100%;
}

#enviar-gmail{
    width: 100%;
}

#configurar-segundo-footer{
    background: var(--corprimaria);
    border-top: 1px solid #00000027;
    padding: 15px 0;
}

#configurar-segundo-footer > div{
    padding: 0;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#configurar-icones-padrao-contato{
    display: flex;
    gap: 10px;
}

#configurar-icones-padrao-contato > a > img{
    width: 25px;
    padding: 5px;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid var(--corterciaria);
}

#configurar-icones-padrao-contato > a > img:hover{
    transform: scale(1.1);
}

#configurar-icones-padrao-contato > a > img:active{
    transform: scale(0.9);
}