@media screen and (max-width: 1040px) {
    /* CONFIGURAÇÃO DE RESPONSIVIDADE DA BARRA DE PESQUISA - PROJETO PARTE UM*/

    header > nav{
        justify-content: center;
        padding: 0px 15px;
        display: flex;
    }

    #icone-empresa{
        width: 120px;
    }

    #elemento-pai{
        transform: scale(0.8);
    }

    #config-span-logo{
        gap: 0px;
    }

    #barra-pesquisa{
        margin: 0 8px;
        height: 40px;
    }

    #estilo-input-pesquisa{
        font: normal normal 12px arial;
        padding: 5px;
        height: 30px;
    }

    #configuracao-icone-pesquisa{
        padding: 0 8px;
    }

    #configuracao-icone-select{
        color: var(--corsecundaria);
        font: normal normal 14px var(--fonteprimaria);
        width: 50px;
        height: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 2px;
    }

    #configuracao-nav-dois > div{
        gap: 8px;
    }

    #configuracao-nav-dois > div:first-child > a, #configuracao-nav-dois > div:last-child > a{
        font-size: 14px;
    }

    #configurar-icone-duvidas{
        font-size: 25px;
    }

    #configuracao-nav-dois > div:first-child{
        margin-left: 20px;
    }

    #configuracao-nav-dois > div:last-child{
        margin-right: 20px;
    }

    #configurar-icones{
        gap: 5px;
    }

    #configurar-icones > a{
        font-size: 15px;
    }

    .tamanho-span-icone{
        color: var(--corprimaria);
        font-size: 25px;
    }

    /* configurando a responsividade dos submenus */

    #config-submenu-grupos{
        transform: scale(0.8) translateX(-25%) translateY(-15%);
    }

    #tamanho-fonte-grupo{
        font-size: 15px;
    }

    /* CONFIGURAÇÃO DE RESPONSIVIDADE DA SEÇÃO APRESENTAÇÃO */
    
    #secao-apresentação > div{
        flex-flow: row wrap;
    }

}

@media screen and (max-width: 595px) {
    header{
        display: none;
    }

    #configurar-header-mobile{
        display: block;
    }

    #configurar-submenu-opcoes, .container-carrossel-imagem-dois, #estilo-pesquisa{
        display: flex;
    }

    /* CONFIGURAÇÃO DE RESPONSIVIDADE DA SEÇÃO APRESENTAÇÃO */

    #configurar-card-apresentacao-especifica{
        border: none;
        padding: 0;
    }

    .configurar-padrao-cards-apresentacao > span{
        font-size: 35px;
    }

    .configurar-padrao-cards-apresentacao > h1{
        font-size: 18px;
    }

    .configurar-padrao-cards-apresentacao > p{
        font-size: 15px;
    }

    /* CENTRALIZAÇÃO FOOTER */
    
    /* CONFIGURAÇÃO DE RESPONSIVIDADE FOOTER */

    #configurar-segundo-footer > div{
        flex-flow: column nowrap;
    }

    #configurar-icones-padrao-contato{
        gap: 8px;
    }

    #configurar-texto-gmail{
        font-size: 18px;
        text-align: center;
    }
    
    .configurar-padrao-cards-footer{
        text-align: center;
    }

    .configurar-padrao-cards-footer > span{
        display: flex;
        justify-content: center;
    }

    .centralizar-cofiguracao{
        text-align: center;
    }

    #configurar-segundo-footer{
        margin-bottom: 70px;
    }
}