@media screen and (max-width: 1040px) {
    /* CONFIGURAÇÃO DE RESPONSIVIDADE DA BARRA DE PESQUISA - PROJETO PARTE UM*/

    header > nav{
        justify-content: center;
        padding: 0px 15px;
        display: flex;
    }

    #icone-empresa{
        width: 120px;
    }

    #elemento-pai{
        transform: scale(0.8);
    }

    #config-span-logo{
        gap: 0px;
    }

    #barra-pesquisa{
        margin: 0 8px;
        height: 40px;
    }

    #estilo-input-pesquisa{
        font: normal normal 12px arial;
        padding: 5px;
        height: 30px;
    }

    #configuracao-icone-pesquisa{
        padding: 0 8px;
    }

    #configuracao-icone-select{
        color: var(--corsecundaria);
        font: normal normal 14px var(--fonteprimaria);
        width: 50px;
        height: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 2px;
    }

    #configuracao-nav-dois > div{
        gap: 8px;
    }

    #configuracao-nav-dois > div:first-child > a, #configuracao-nav-dois > div:last-child > a{
        font-size: 14px;
    }

    #configurar-icone-duvidas{
        font-size: 25px;
    }

    #configuracao-nav-dois > div:first-child{
        margin-left: 20px;
    }

    #configuracao-nav-dois > div:last-child{
        margin-right: 20px;
    }

    #configurar-icones{
        gap: 5px;
    }

    #configurar-icones > a{
        font-size: 15px;
    }

    .tamanho-span-icone{
        color: var(--corprimaria);
        font-size: 25px;
    }

    /* configurando a responsividade dos submenus */

    #config-submenu-grupos{
        transform: scale(0.8) translateX(-25%) translateY(-15%);
    }

    #tamanho-fonte-grupo{
        font-size: 15px;
    }

    /* CONFIGURAÇÃO DE RESPONSIVIDADE DA SEÇÃO APRESENTAÇÃO */
    
    #secao-apresentação > div{
        flex-flow: row wrap;
    }

    /* RESPONSIVIDADE DA SEÇÃO DE INFOPRODUTO-APRESENTAÇÃO */
    /* configuração da div-capa do infoproduto */

    #secao-infoproduto > div{
        width: 97%;
        gap: 15px;
    }

    #configurar-imagem-infoproduto > div:first-child{
        width: 80%;
        display: flex;
        justify-content: center;
    }

    #capa-infoproduto{
        height: auto;
        width: 100%;
    }

    #cards-infoproduto-imagens{
        gap: 5px;
        width: 100%;
        flex-flow: row wrap;
    }

    #cards-infoproduto-imagens > div{
        width: 35px;
        height: 35px;
        padding: 4px;
    }

    #cards-infoproduto-imagens > div > img{
        height: 98%;
    }

    #estilo-fullscreen{
        font-size: 40px;
    }
    
    #secao-infoproduto > div > div:first-child{
        width: 350px;
    }

    /* configuração da div-capa do infoproduto: texto-descrição */

    #descricao-compra-infoproduto{
        width: 330px;
    }

    #descricao-compra-infoproduto > h1{
        font-size: 24px;
        line-height: 25px;
    }

    #descricao-compra-infoproduto > p{
        font-size: 15px;
    }

    #configurar-preco-botoes{
        margin: 12px 0;
        gap: 8px;
        display: flex;
        justify-content: space-between;
    }

    #preco-antigo{
        font-size: 14px;
    }

    #preco-atual{
        line-height: 30px;
        font-size: 60px;
    }

    #preco-atual > span, #preco-atual > sup{
        font-size: 20px;
    }

    #configurar-botoes-span > div:first-child > div{
        width: 40px;
        height: 40px;
    }
    
    #configurar-botoes-span > div:first-child > div > span{
        font-size: 30px;
    }

    #sistema-estrelas > a > span{
        font-size: 20px;
    }

    #estilo-botoes > a{
        width: 100%;
    }

    #estilo-botoes > a > button{
        padding: 10px 0px;
        font-size: 18px;
        width: 100%;
    }

    #estilo-botoes{
        margin-bottom: 10px;
    }

    /* CONFIGURAÇÃO DE ESPONSIVIDADE DE COMO COMPRAR INFOPRODUTOS */

    .display-none{
        display: none;
    }

    #como-comprar > div > div:first-child > h1{
        font-size: 24px;
    }

    .estilo-texto-padrao{
        font-size: 14px;
    }

    /* CONFIGURAÇÃO DE RESPONSIVIDADE DOS COMENTÁRIOS */

    #label-nome-avaliacao{
        width: 70%;
    }

    #configurar-div-stars{
        width: 200px;
    }

}

@media screen and (max-width: 595px) {

    body{
        overflow-x: hidden;
    }
    
    header{
        display: none;
    }

    #configurar-header-mobile{
        display: block;
    }

    #configurar-submenu-opcoes, .container-carrossel-imagem-dois, #estilo-pesquisa{
        display: flex;
    }

    /* CONFIGURAÇÃO DE RESPONSIVIDADE DA SEÇÃO APRESENTAÇÃO */

    #configurar-card-apresentacao-especifica{
        border: none;
        padding: 0;
    }

    .configurar-padrao-cards-apresentacao > span{
        font-size: 35px;
    }

    .configurar-padrao-cards-apresentacao > h1{
        font-size: 18px;
    }

    .configurar-padrao-cards-apresentacao > p{
        font-size: 15px;
    }

    /* CENTRALIZAÇÃO FOOTER */
    
    /* CONFIGURAÇÃO DE RESPONSIVIDADE FOOTER */

    #configurar-segundo-footer > div{
        flex-flow: column nowrap;
    }

    #configurar-icones-padrao-contato{
        gap: 8px;
    }

    #configurar-texto-gmail{
        font-size: 18px;
        text-align: center;
    }
    
    .configurar-padrao-cards-footer{
        text-align: center;
    }

    .configurar-padrao-cards-footer > span{
        display: flex;
        justify-content: center;
    }

    .centralizar-cofiguracao{
        text-align: center;
    }

    #configurar-segundo-footer{
        margin-bottom: 70px;
    }

    /* RESPONSIVIDADE DA SEÇÃO DE INFOPRODUTO-APRESENTAÇÃO */
    /* configuração da div-capa do infoproduto */

    #secao-infoproduto > div{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #configurar-imagem-infoproduto > div:first-child{
        width: 95%;
        display: flex;
        justify-content: center;
    }

    #capa-infoproduto{
        height: auto;
        margin: auto;
        width: 88%;
    }

    #cards-infoproduto-imagens{
        width: 100%;
        gap: 8px;
        display: flex;
        flex-flow: row wrap;
    }

    #cards-infoproduto-imagens > div{
        width: 50px;
        height: 50px;
        padding: 5px;
    }

    #cards-infoproduto-imagens > div > img{
        height: 96%;
    }

    #estilo-fullscreen{
        font-size: 50px;
    }

    /* configuração da div-capa do infoproduto: texto-descrição */

    #descricao-compra-infoproduto{
        width: 95%;
    }

    #descricao-compra-infoproduto > h1{
        font-size: 30px;
        text-align: center;
        line-height: 35px;
    }

    #descricao-compra-infoproduto > p{
        font-size: 22px;
        text-align: center;
    }

    #configurar-preco-botoes{
        margin: 16px 0;
        gap: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #preco-antigo{
        font-size: 16px;
    }

    #preco-atual{
        line-height: 50px;
        font-size: 70px;
    }

    #preco-atual > span, #preco-atual > sup{
        font-size: 25px;
    }

    #sistema-estrelas > a > span{
        font-size: 22px;
    }

    #estilo-botoes > a{
        width: 100%;
    }

    #estilo-botoes > a > button{
        padding: 12px 0px;
        font-size: 22px;
        width: 100%;
    }

        /* CONFIGURAÇÃO DE ESPONSIVIDADE DE COMO COMPRAR INFOPRODUTOS */

    #como-comprar, #como-comprar > div > div{
        width: 100%;
        text-align: center;
    }

    #config-botao{
        margin: auto;
    }

    #como-comprar > div{
        width: 90%;
        display: flex;
        align-items: center;
        flex-flow: column-reverse nowrap;
        justify-content: center;
        gap: 15px;
    }

    .estilo-texto-padrao{
        margin: 10px 0;
    }

    #como-comprar > div > div:first-child > h1{
        font-size: 20px;
    }

    /* CONFIGURAÇÃO DE RESPONSIVIDADE DOS COMENTÁRIOS */

    #nome-avaliacao{
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }

    #label-nome-avaliacao{
        width: 100%;
    }

    #configurar-div-stars{
        width: 100%;
    }

    #configurar-div-stars{
        display: flex;
        flex-flow: row nowrap;
        gap: 15px;
    }

    #avaliacao{
        font-size: 25px;
    }

    .stars > label{
        font-size: 22px;
    }

    #configurar-display-botoes-comentario{
        display: flex;
        flex-flow: column nowrap;
        gap: 12px;
    }

    #estilo-botao-um, #estilo-botao-dois{
        padding: 12px 0;
        width: 100%;
    }

    #input-comentario{
        padding: 10px 5px;
    }
}

